<?php include APP.'views/admin/header.html'?>
<?php include APP.'views/admin/slidenav.html'?>
<div class="col-lg-9">
	<table class="table table-bordered table-hover">
		<thead>
			<div class="panel panel-info" style="margin: 0;">
				<div class="panel-heading panel-info text-center">歌手管理</div>	
			</div>
			<tr class="text-center">
				<th>编号</th>
				<th>姓名</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id='contain'>
			<?php foreach($cate as $v):?>
			<tr style="cursor: pointer;" cateid='<?php echo $v['cate_id']?>'>
				<td><?php echo $v['cate_id']?></td>
				<td><input type="text" name="" id="input" value="<?php echo $v['cate_name']?>" style='border:0;background: transparent;'/></td>
				<td><span class="glyphicon glyphicon-remove" style='color: red;'  id='delete'></td>
			</tr>
			<?php endforeach;?>
			
		</tbody>
		
	</table>
	<button type="button" class="btn btn-default btn-lg btn-block col-md-6" id='add'>
		<span class="glyphicon glyphicon-plus" style='cursor: pointer;'></span>
	</button>
</div>
	</div>
</div>
<script type="text/javascript" src="<?php echo JS_PATH?>admin/cate.js"></script>
<?php include APP.'views/admin/footer.html'?>