<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="list-group">
  				<a href="javascript:;" class="list-group-item disabled">管理</a>
  				<a href="/QQ-music/index.php/admin/index" class="list-group-item">分类管理</a>
  				<a href="/QQ-music/index.php/admin/artists" class="list-group-item">歌手管理</a>
  				<a href="/QQ-music/index.php/admin/album" class="list-group-item">专辑管理</a>
 	 			<a href="/QQ-music/index.php/admin/musics" class="list-group-item">歌曲管理</a>
			</div>
		</div>
		