<!DOCTYPE html>
<html>
	                                                
	                                                
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH?>broad.css"/>
		<script type="text/javascript" src="<?php echo JS_PATH ?>jquery.min.js"></script>
		<script type="text/javascript" src="<?php echo JS_PATH?>play.js"></script>
	</head>
	<body>
		<div class="fullbox">
			<div class="zhezhao"></div>
			<div class="content">
				<div class="middlebox">
					<div class="logo"></div>
					<div class="set">
						<span>登录</span>
						<span>设置</span>
					</div>
					<div class="middle">
						<div class="picbox">
							
							<div class="pic">
								<img src="<?php echo IMG_PATH?>T002R300x300M000001qu0Wf47Uu2d.jpg" alt="" />
								<img src="<?php echo IMG_PATH?>album_cover_player.png" alt="" class="right" />
							</div>
							<div class="sing">
								<p>歌曲名:<span>幻灭</span></p>
								<p>歌手名:<span>幻灭</span></p>
								<p>专辑名:<span>幻灭</span></p>
							</div>
						</div>
						<div class="left">
							<div class="navbox">
								<div class="nav"><span></span>收藏</div>
								<div class="nav"><span class="one"></span>添加到</div>
								<div class="nav"><span class="two"></span>下载</div>
								<div class="nav"><span class="three"></span>删除</div>
								<div class="nav"><span class="four"></span>清空列表</div>
							</div>
							<div class="first">
								<div class="kuang"><input type="checkbox" name="" id="" value="" /></div>
								<div class="song">歌曲</div>
								<div class="singer">歌手</div>
								<div class="time">时长</div>
							</div>
							<ul class="lists">
								<div class="first">
									<div class="kuang">
										<input type="checkbox" name="" id="" value="" />
									</div>
									<div class="song">
										<span>
											<div class="jump"></div>
											<p>1</p>
										</span>
										<p>歌曲</p>
									</div>
									<div class="singer">歌手</div>
									<div class="time">时长</div>
									<div class="yin">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>	
							</ul>
						</div>
					</div>
					<div class="dibu">
						<span class="left"><i class="iconfont">&#xe62a;</i></span>
						<span class="left high"><i class="iconfont">&#xe63c;</i></span>
						<span class="left"><i class="iconfont">&#xe628;</i></span>
						<div class="play">
							<div class="music">
								<span class="music_name">New day</span>
								<span>-</span>
								<span class="artists_name">黄子韬</span>
							</div>
							<div class="shijian">
								<span class='currentTime'>00:02</span>
								<span>/</span>
								<span class="totleTime">03:18</span>
							</div>
						</div>
						<span class="time left">
							<div class="long">
								<div class="nei">
								<div class="point"></div>
								</div>
							</div>
						</span>
						<span class="right">
							<span><i class="iconfont" style="font-size: 26px;">&#xe692;</i></span>
							
							<span><i class="iconfont" style="font-size: 18px;">&#xe60c;</i></span>
							<span><i class="iconfont">&#xe631;</i></span>
							<span class="switch"></span>
							<span><i class="iconfont">&#xe662;</i></span>
							<span class="time">
								<div class="long">
									<div class="point"></div>
								</div>
							</span>
						</span>
						
					</div>
				</div>
			</div>
		</div>
		<audio src="" width:0; height:0; class="broadcast"></audio>
	</body>
</html>
